body{
    font-family: 'Inter', sans-serif;
    background-color: #dfe7fd;
}

.rounded-border{
    border-radius: 0.5rem;
}

.nav-bg{
    background-color: #7371fc;
}

.table-headers{
    color: #4C2BF3;
}

.primary-color{
    background-color: #7371fc;
    color: white;
}

.primary-color:hover, .primary-color:active {
    background-color: #605dff;
    color: white;
}

.light-color{
    background-color: white;
    color: #7371fc;
}

.light-color:hover, .light-color:active {
    background-color: white;
    color: #605dff;
}

.data-table .form-control-sm:focus, .data-table .form-select-sm:focus {
    box-shadow: none;
}